
<div class="modal position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalLogin" style="height: 100vh;">
    <div class="modal-dialog" role="document" style="max-width: 800px;">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h3 class="fw-bold mb-0">Información de la plataforma</h3>
            </div>

            <div class="modal-body p-5 pt-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>argvs</td>
                            <td>{{argvs}}</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>platform</td>
                            <td>{{platform}}</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>node</td>
                            <td>{{node}}</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>memory</td>
                            <td>{{memory}}</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>path</td>
                            <td>{{path}}</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>pid</td>
                            <td>{{pid}}</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>folder</td>
                            <td>{{folder}}</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>cpu count</td>
                            <td>{{cpus}}</td>
                        </tr>
                    </tbody>
                </table>
                <a href="/" class="w-100 mb-2 btn btn-lg rounded-3 btn-success">Volver a inicio</a>
            </div>
        </div>
    </div>
</div>